.dropdown {
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 0.1px solid black;
}

.dropdown-menu.visible {
    display: block;
}

.dropdown-menu > a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    border: 0.1px solid black;
}

.dropdown-menu > a:hover {
    background-color: #f0f0f0;
}
